# Discord 봇
discord.py

# 환경변수 관리
python-dotenv

# MongoDB 연결
pymongo
motor

# 웹 요청 및 크롤링
httpx
requests
beautifulsoup4

# 웹 크롤러용
selenium
undetected-chromedriver==3.5.5
pyvirtualdisplay

# OpenAI API
openai

# 로깅
loguru

# 비동기 최적화 및 재시도
uvloop
aiohttp
tenacity

# REST API
fastapi
gunicorn
setuptools>=70.0.0
packaging>=23.0
